#### Run a series of regular tests to monitor system performance
### Update results every half hour
29,59 * * * * %USER% x="%BASEDIR%/update" ; if [ -x "$x" ] ; then $x >> /tmp/cron.update.stdout 2>&1 ; fi
### Hourly test
58 *      * * * %USER% t=133_qsub                 ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
59 *      * * * %USER% t=134_qstat                ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
### Daily tests
# Spread out I/O intensive tests
1  1      * * * %USER% t=139_mdtest_ime_fuse      ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
31 1      * * * %USER% t=138_iozone_ime_fuse      ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
1  2      * * * %USER% t=031_mdtest               ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
31 2      * * * %USER% t=026_iozone_1node         ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
# Run this test after daily filesystem stats collected at 12:00
30 12     * * * %USER% t=124_filesets             ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
# Remaining tests
1  3      * * * %USER% t=010_compile              ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
2  3      * * * %USER% t=011_wget                 ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
3  3      * * * %USER% t=012_config               ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
4  3      * * * %USER% t=014_config_gpu           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
5  3      * * * %USER% t=016_config_qmgr          ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
6  3-21/6 * * * %USER% t=020_gpfs                 ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
7  3      * * * %USER% t=021_gpfs                 ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
8  3      * * * %USER% t=024_gpfs_old             ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
9  3      * * * %USER% t=030_modules              ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
10 3      * * * %USER% t=040_stream               ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
11 3      * * * %USER% t=050_linpack              ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
12 3      * * * %USER% t=051_ibreadbw             ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
13 3      * * * %USER% t=060_lustre               ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
13 9-21/6 * * * %USER% t=062_lustre               ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
15 3-21/6 * * * %USER% t=070_pingpong             ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
19 3      * * * %USER% t=080_qe_1node             ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
20 3      * * * %USER% t=082_qe_2node             ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
21 3      * * * %USER% t=083_qe_2node_ipm         ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
22 3      * * * %USER% t=090_gromacs_adh_cubic    ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
23 3      * * * %USER% t=092_gromacs_gpu          ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
24 3      * * * %USER% t=096_gromacs_2node        ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
25 3      * * * %USER% t=097_gromacs_4node        ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
26 3      * * * %USER% t=100_imb_impi_1node       ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
27 3      * * * %USER% t=101_imb_openmpi_1node    ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
28 3      * * * %USER% t=102_imb_impi_2node       ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
30 3      * * * %USER% t=103_imb_openmpi_2node    ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
31 3      * * * %USER% t=104_imb_multi_pingpong   ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
32 3      * * * %USER% t=110_tensorflow           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
33 3      * * * %USER% t=013_compile_all          ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
34 3      * * * %USER% t=015_config_umask         ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
37 3      * * * %USER% t=107_integrity_gpfs       ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
38 3      * * * %USER% t=108_integrity_lustre     ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
40 3      * * * %USER% t=125_dgx_check            ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
41 3      * * * %USER% t=126_dgx_mxnet            ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
42 3      * * * %USER% t=155_dgx_singularity_mxnet; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
43 3      * * * %USER% t=129_pip_install_user     ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
44 3      * * * %USER% t=130_compilers            ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
45 3      * * * %USER% t=135_cuda                 ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
46 3      * * * %USER% t=153_dgx_singularity_check; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
47 3      * * * %USER% t=160_random               ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
48 3      * * * %USER% t=161_dgx_tf_1gpu          ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
49 3      * * * %USER% t=168_dgx_tf2_1gpu         ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
### Weekly tests
2  4      * * 0 %USER% t=055_linpack_cuda         ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
3  4      * * 0 %USER% t=019_arm_reports          ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
4  4      * * 0 %USER% t=025_arm_forge            ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
5  4      * * 0 %USER% t=041_stream_1t            ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
6  4      * * 0 %USER% t=029_iozone_20g_1m        ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
7  4      * * 0 %USER% t=113_drmaa_python         ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
8  4      * * 0 %USER% t=114_drmaa_snakemake      ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
9  4      * * 0 %USER% t=115_drmaa_queue_gatk     ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
10 4      * * 0 %USER% t=137_dgx_tensorflow       ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
11 4      * * 0 %USER% t=145_stream_numa          ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
12 4      * * 0 %USER% t=146_linpack_1x24         ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
13 4      * * 0 %USER% t=147_singularity          ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
14 4      * * 0 %USER% t=148_dgx_tensorflow_py2   ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
15 4      * * 0 %USER% t=149_dgx_pytorch          ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
16 4      * * 0 %USER% t=150_dgx_singularity_tf3  ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
17 4      * * 0 %USER% t=151_dgx_singularity_tf2  ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
18 4      * * 0 %USER% t=152_dgemm                ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
19 4      * * 0 %USER% t=135_cuda                 ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then MULTI=y VERSION=7.0 $x >> /tmp/cron.$t.stdout 2>&1 ; fi
20 4      * * 0 %USER% t=135_cuda                 ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then MULTI=y VERSION=7.5 $x >> /tmp/cron.$t.stdout 2>&1 ; fi
21 4      * * 0 %USER% t=135_cuda                 ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then MULTI=y VERSION=9.2 $x >> /tmp/cron.$t.stdout 2>&1 ; fi
22 4      * * 0 %USER% t=049_linpack_2x24         ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
23 4      * * 0 %USER% t=095_gromacs_gpu_2node    ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
24 4      * * 0 %USER% t=119_imb_impi_check       ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
25 4      * * 0 %USER% t=120_imb_openmpi_check    ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
26 4      * * 0 %USER% t=121_gromacs_openmpi_2node; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
27 4      * * 0 %USER% t=123_qe_2node_gpfs        ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
28 4      * * 0 %USER% t=167_dgx_tf2              ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
29 4      * * 0 %USER% t=166_k40_tf_resnet        ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
### Weekly I/O intensive
1  22     * * 0 %USER% t=164_dgx_mdtest           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
31 22     * * 0 %USER% t=165_dgx_iozone           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
### On-demand tests
## 1  5 1 1 * %USER% t=052_linpack_default           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 2  5 1 1 * %USER% t=054_linpack_local             ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 3  5 1 1 * %USER% t=061_lustre                    ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 4  5 1 1 * %USER% t=094_gromacs_gpu_mps           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 5  5 1 1 * %USER% t=098_gromacs_local             ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 6  5 1 1 * %USER% t=028_gpfs_taskset              ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 7  5 1 1 * %USER% t=063_lustre_taskset            ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 8  5 1 1 * %USER% t=136_compilers_2node           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 10 5 1 1 * %USER% t=139_mdtest_ime_fuse           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 11 5 1 1 * %USER% t=140_QE_CaseA_1024p            ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 12 5 1 1 * %USER% t=141_QE_CaseB_4096p            ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 13 5 1 1 * %USER% t=128_dgx_singularity           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 14 5 1 1 * %USER% t=142_nag_lic                   ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 15 5 1 1 * %USER% t=105_gpudirect                 ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 16 5 1 1 * %USER% t=154_dgx_pytorch_19_04         ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 17 5 1 1 * %USER% t=156_dgx_check_nolustre        ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 18 5 1 1 * %USER% t=157_dgx_tf_nolustre           ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 19 5 1 1 * %USER% t=158_dgx_tf2_nolustre          ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 19 5 1 1 * %USER% t=162_dgx_tf2                   ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
## 20 5 1 1 * %USER% t=163_dgx_tf2_1gpu              ; x="%BASEDIR%/tests/$t/submit" ; if [ -x "$x" ] ; then $x >> /tmp/cron.$t.stdout 2>&1 ; fi
